<!DOCTYPE html>
<html>
    <head>
        <title>Crypto markets rates - WEB API</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <style>
            body {
               font-family: 'Raleway', sans-serif;
            }

            .resourceWrapper {
                background-color: #eee;
                margin: 5px;
                padding: 5px;
            }

            .methodName {
                font-weight: bold;
            }

            .methodDesc {
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <h1>Crypto markets rates - WEB API</h1>
        <div class="resourceWrapper">
            <h3>Market rates</h3>
            <p><span class="methodName">GET</span> markets/{marketCode}/rates/{yyyy-MM-dd}?hours={hour} <span class="methodDesc">- find market rates from particular day and hours. Example markets/BTC-PLN/rates/2018-01-02?hours=8&hours=12&hours=16</span></p>
        </div>
    </body>
</html>
